{% extends "myApp/index.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div style="width: 600px;margin-top: 50px;" class="container">

     <form method="post" class="from-group">
	{% csrf_token %}
	{{ form }}
	<p>Don't have an accoount? Create one <a href="/register">here</a></p>
	<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

	<button type="submit" class="btn btn-success">Login</button>	
    </form>
	</div>
{% endblock %}