{%extends 'myApp/index.html' %}
{%block title%}asdsa
{%endblock%}

{%block content %}

<div style="display: flex; margin-top: 50px;" >
<h1 style="margin-left: auto;margin-right: auto;">Card list</h1>
</div>
        

<!--Card-->
<div class="container-fluid d-flex " style=" justify-content: center;
flex-wrap: wrap;
margin-top: 50px;
padding-bottom: 100px;">
 


        {%for card in cards%}

    <div class="card  m-2" style="border-radius: 15px;width: 18rem;background-image: url(https://scontent-mad2-1.xx.fbcdn.net/v/t1.15752-9/403654307_722451942728097_7194991720081973619_n.png?stp=cp0_dst-png&_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=_nKUGXNCi3cAX9Gf_v_&_nc_ht=scontent-mad2-1.xx&oh=03_AdQWqnLGsj98R56_G67SOAWoDTlx16308uVPSYSVc0Phnw&oe=658BCBA7);background-repeat: no-repeat;background-size: cover;">
      <h5 style="text-align: center;border: 5px solid black; width: 90%;margin-left: 15px;margin-top: 10px;color:white" class="card-title">{{card.brand}}</h5>
      <a href="/detail/{{card.id}}">
  
      <img style="margin-left: 15px;height: 286px;width: 90%;border: 5px solid black" class="card-img-top" src="{{card.foto}}" alt="Card image cap"/>
    </a>
    <div class="card-body" style="border: 5px solid black;width: 90%;margin-left: 15px; margin-top: 6px;margin-bottom: 12px;color: white;">
      <a href="/detail/{{card.id}}">

      <h5 style="margin-left: 80px;margin-top: -10px;" class="card-title">{{card.name}}</h5>
          <div class="d-flex"  style="color:white; border: 2px solid black; height: 30px;"> 
          <p style="margin-left: 25px; width: 70px;color white " class="card-text">ATK:{{card.power}}</p>
          <p style=" margin-left: 40px; width: 70px;" class="card-text">DEF:{{card.defense}}</p>
        </div>
        </div>
      </a>

      </div>

      {%endfor%}
    </div>
<!--endCard-->


<!--Paginator-->
<div class="container">
  <nav style="margin-left: 80px;" aria-label="Page navigation example">
    <ul class="pagination">
      {% if cards.has_previous %}

      <li class="page-item"><a class="page-link" href="?page={{ cards.previous_page_number }}">Previous</a></li>

      {% endif %}
      {%for i in cards.paginator.page_range%}
        {%if i == cards.number%}
        <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
        {%else%}
        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>

        {%endif%}
      {%endfor%}
    {% if cards.has_next %}

      <li class="page-item"><a class="page-link" href="?page={{ cards.next_page_number }}">Next</a></li>

      {% endif %}

    </ul>
  </nav>
</div>
  <!--endPaginator-->
    {%endblock%}